body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    text-align: left;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    border-bottom: 3px solid #e74c3c;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}


.feature-item {
    display: flex;
    align-items: center;
}

.icon-box {
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 15px;
}

.icon-box i {
    font-size: 32px;
    color: #e74c3c;
}


.text p {
    font-size: 14px;
    color: #666;
}
